<p *ngIf="transactions.length === 0">This block has no medical data</p>

<table class="table table-hover table-striped" *ngIf="transactions.length > 0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Patient</th>
      <th scope="col">Doctor</th>
      <th scope="col">Medical Score</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Valid?</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tx of transactions; index as index">
      <td>{{index}}</td>
      <td class="text-truncate" style="max-width: 100px;">

			{{tx.fromAddress}}

        <span *ngIf="tx.fromAddress === null">Patient</span>

        
      </td>
      <td class="text-truncate" style="max-width: 100px;">
			{{tx.toAddress}}

          
      </td>
      <td>
        {{tx.amount}}
        <span *ngIf="tx.fromAddress === null" class="text-muted"><br><small>(Block reward)</small></span>
      </td>
      <td>
        {{tx.timestamp}}<br>
        <span class="text-muted"><small>{{tx.timestamp |date:'MMM d, y, HH:mm'}}</small></span>
      </td>
      <td style="max-width: 40px;">
        <span *ngIf="tx.isValid()">✓</span>
        <span *ngIf="!tx.isValid()">✗</span>
      </td>
    </tr>
  </tbody>
</table>
